<h4><b>Quick links</b></h4>
<div id="accordion" class="my_class">
	<h3>
	<a href="#">Department</a>
	</h3>
	<div class="accordion_content">
		<ul>
			<li>
				<%= link_to 'My Departments', '#'%>
			</li>
		</ul>
	</div>
	<h3>
	<a href="#">Ticket</a>
	</h3>
	<div class="accordion_content">
		<ul>
			<li>
				<%= link_to 'My tickets', '#'%>
			</li>
			<li>
				<%= link_to 'My recent tickets', '#' %>
			</li>
		</ul>
	</div>
	<h3>
	<a href="#">Profile</a>
	</h3>
	<div class="accordion_content">
		<ul>
			<li>
				<%= link_to 'Edit profile', edit_user_path(current_user) %>
			</li>
			<li>
				<%= link_to 'Logout', logout_url %>
			</li>
		</ul>
	</div>
</div>