<br/>
<br/>
<h4><b>Quick links</b></h4>
<div id="accordion" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
	<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top ui-state-hover">
	<a href="#">Department</a>
	</h3>
	<div>
		<ul>
			<li>
				<%= link_to 'My Departments', '#'%>
			</li>
		</ul>
	</div>
	<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top ui-state-hover">
	<a href="#">Ticket</a>
	</h3>
	<div>
		<ul>
			<li>
				<%= link_to 'My tickets', '#'%>
			</li>
			<li>
				<%= link_to 'My recent tickets', '#' %>
			</li>
		</ul>
	</div>
	<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top ui-state-hover">
	<a href="#">Profile</a>
	</h3>
	<div>
		<ul>
			<li>
				<%= link_to 'Edit profile', edit_user_path(current_user) %>
			</li>
			<li>
				<%= link_to 'Logout', logout_url %>
			</li>
		</ul>
	</div>
</div>