<h4>
<b>Quick links</b>
</h4>
<div id="accordion" class="my_class">
	<h3>
	<a href="#">Ticket</a>
	</h3>
	<div class="accordion_content">
		<ul>
			<li>
				<%= link_to 'My tickets', tickets_path%>
			</li>
                        <li>
				<%= link_to 'New tickets', mytickets_path('0'),:title=>"Recently created tickets which are not assigned to anyone yet." %>
			</li>
			<li>
				<%= link_to 'Open tickets', mytickets_path('1') %>
			</li>
			<li>
				<%= link_to 'Completed tickets', mytickets_path('4') %>
			</li>
                        <li>
				<%= link_to 'Resolved tickets', mytickets_path('2') %>
			</li>
                        <li>
				<%= link_to 'Completed tickets', mytickets_path('4') %>
			</li>
			<li>
				<%= link_to 'Open a new ticket', new_ticket_path %>
			</li>
		</ul>
	</div>
	<% if is_head_of_any_dept?(current_user) %>
	<h3>
	<a href="#">Department</a>
	</h3>
	<div class="accordion_content">
		<ul>
			<li>
				<%= link_to 'My Departments', mydepartments_user_url(current_user)%>
			</li>
		</ul>
	</div>
	<%end%>
	<h3>
	<a href="#">Profile</a>
	</h3>
	<div class="accordion_content">
		<ul>

                        <li>
				<%= link_to 'Home', user_path(current_user) %>
			</li>
			<li>
				<%= link_to 'Edit profile', edit_user_path(current_user) %>
			</li>
			<li>
				<%= link_to 'Change password', change_password_user_url(current_user) %>
			</li>
			<li>
				<%= link_to 'Logout', logout_url %>
			</li>
		</ul>
	</div>
</div>

<div class="pad12">
  <ul>
    <li><%= link_to 'Open a new ticket', new_ticket_path %></li>
  </ul>
</div>