<%= form_for current_user,:url=>update_current_password_user_url(current_user),:method=>:put do |f| %>


<div class="field"><%= f.label :current_password, "Current password" %><br />
  <%= f.password_field :current_password %></div>

<div class="field"><%= f.label :password, "New password" %><br />
  <%= f.password_field :password %></div>

<div class="field"><%= f.label :password_confirmation, "Confirm new password" %><br/>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Change my password" %></div>
<% end %>