<br/>
<h3><%= @user.full_name %></h3>
<p><b>Department: </b><%= link_to @user.department.name, department_url(@user.department_id) %></p>
<hr/>
<!-- ************ For my depatment logic *********** -->
<%= render "dept_and_tickets" %>

<!-- For Tickets assigned to me -->
<%#  order = {:headers => ['title','description','Owner','Assigned to dept'],:methods => ['title','description','owner','department']}%>
<%= render :partial=>"tickets/mytickets",:locals=>{:tickets=>@mytickets,:title=>"Tickets to assign"} %>
<hr/>
<%#= render :partial=>"tickets/testtickets",:locals=>{:tickets=>@mytickets,:title=>"Tickets",:order=>order} %>
<!-- Assigned to me -->
<%= render :partial=>"tickets/mytickets",:locals=>{:tickets=>@tickets,:title=>"Tickets assigned to you"} %>


<div class="hidden" id="dept_users_id">
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
