

<div style="overflow: hidden;">
<!-- For user image -->
<div class="user_img">
	<%= image_tag get_user_image(@user,:small)%>
	<div class="center_text">
		<% if current_user == User.find(params[:id]) %>
		<% if @user.image %>
		<%= link_to 'Change Picture', "#", :id=>"upload_image_link" %>
		<% else %>
		<%= link_to 'Upload Picture', "#", :id=>"upload_image_link" %>
		<%end%>
		<% end %>
	</div>
</div>
<div>
<br/>
<h3 class="profile_title"><%= @user.full_name %></h3>
<p>
	<b>Department: </b><%= @user.department.name %>
</p>
</div>

</div>
<!-- ************ For my depatment logic *********** -->

<% if current_user == User.find(params[:id]) %>
<%= render "dept_and_tickets" %>

<div id="upload_profile_pic" class="hide">
	<%= render :partial=>"upload_image"%>
</div>
<!-- For Tickets created by me -->

<%#  order = {:headers => ['title','description','Owner','Assigned to dept'],:methods => ['title','description','owner','department']}%>
<%= render :partial=>"tickets/mytickets",:locals=>{:tickets=>@mytickets,:title=>"My Tickets"} %>
<br/>
<%#= render :partial=>"tickets/testtickets",:locals=>{:tickets=>@mytickets,:title=>"Tickets",:order=>order} %>
<!-- Assigned to me -->
<%= render :partial=>"tickets/mytickets",:locals=>{:tickets=>@tickets,:title=>"Tickets assigned to you"} %>

<br/>
<div class="hidden" id="dept_users_id">
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%end%>
