<h1>Listing users</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Department id</th>
    <th>Type</th>

  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.department_id %></td>
    <td id="users_type_<%=user.id%>"><%= render :partial => "type", :locals => {:user => user}%></td>
    <td>
   


    <%= form_tag assign_role_admin_path(user),:remote=>true do %>
     
      
        <%= select "users","type", [['Employee', Employee], ['Engineeer', Engineer]]%>
        <%= submit_tag "Assign" %>
    <% end %>
    </td>
    <td><%#= link_to 'Show', user %></td>
    <td><%#= link_to 'Edit', edit_user_path(user) %></td>
    <td><%#= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
