

<p>
  <b>Name:</b>
  <%= @department.name %>
</p>

<p>
  <b>Head:</b>
  <%= @department.head_id %>
</p>

<p>
  <b>Activated:</b>
  <%= @department.activated %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
