
<br/>
<h3><%= @department.name %></h3>
<b>Head:</b><%= @department.head.full_name %>
<br/>
<b>Activated:</b><%= @department.activated %>
<br/>
&nbsp;
<%= render :partial=>"tickets/mytickets",:locals=>{:tickets=>@new_tickets,:title=>"New Tickets", :access => "N"} %>
<%= render :partial=>"tickets/mytickets",:locals=>{:tickets=>@reopned_tickets,:title=>"Reopned Tickets", :access => "N"} %>

<%=link_to "Assigned tickets", assigned_ticket_path(:department_id => @department.id)%>
<br/>
<%=link_to "Closed tickets", closed_ticket_path(:department_id => @department.id)%>
<br/>
<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
