<% if user_signed_in? %>
<div id="menu_bar" class="menu_bar">
	<ul>
          <%if current_user.is_admin?%>
          <li>
			<%= link_to 'Users',user_path(current_user) %>
		</li>
		<li>
			<%= link_to 'Departments',departments_admins_url%>
		</li>
          <%else%>
		<li>
			<%= link_to 'Home',user_path(current_user) %>
		</li>
               <% if is_head_of_any_dept?(current_user) %>
		<li>
			<%= link_to 'Departments',departments_url %>
		</li>
                <% end %>
		<li>
			<%= link_to 'Tickets',tickets_url %>
		</li>
           <%end%>
	</ul>
</div>
<div id="user_links" class="user_links">
	<ul>
		<li>
		<%= image_tag get_user_image(current_user,'thumb'), :class=>"nav_profile_pic"%>
		</li>
		<li>
			<b>Hi <%= current_user.full_name %></b>
		</li>
		<li>
			<%= link_to('Logout', destroy_user_session_path) %>
		</li>
	</ul>
</div>
<% else %>

<div id="user_links" class="user_links">
	<ul>
		<li>
			<b>You are not logged in.&nbsp;&nbsp;</b>
		</li>
		<li>
			<%= link_to('Login', new_user_session_path, :id=>'login_link')  %>
		</li>
	</ul>
</div>
<% end %>



