<% if @ticket.not_assigned? %>
<div class="assign_to_cover">
  <span><b>Assign to : </b></span>
  <%= form_tag assign_ticket_url(@ticket),:remote=>true do %>
    <%= collection_select '','user_id',@department_users,:id,:full_name %>
    <%= submit_tag "Assign" %>
  <% end %>
</div>

<% else %>


  <div>
    <span><b>Reassign to :</b></span>
  <%= form_tag assign_ticket_url(@ticket),:remote=>true do %>
    <%= collection_select '','user_id',@department_users,:id,:full_name %>
    <%= submit_tag "Re-Assign" %>
  <% end %>
  </div>

<% end %>
<br/>