<% if @ticket.not_assigned? %>
<div class="assign_to_cover">
  <b>Assign to : </b>
  <%= form_tag assign_ticket_url(@ticket),:remote=>true do %>
    <%= collection_select '','user_id',@department_users,:id,:full_name %>
    <%= submit_tag "Assign" %>
  <% end %>
</div>

<% else %>

  <br/>
  <div>
       <b>Reassign to : </b>
  <%= form_tag assign_ticket_url(@ticket),:remote=>true do %>
    <%= collection_select '','user_id',@department_users,:id,:full_name %>
    <%= submit_tag "Assign" %>
  <% end %>
  </div>

<% end %>