<table id="TicketInfoTable">
	<tr>
		<td colspan=2>
			<h3 class="ticket_title"><%= @ticket.title %></h3>
		</td>
	</tr>
	<tr>
		<td><b>Reporter:</b> <%= @ticket.owner.full_name %></td>
		<td><b>Status :</b> <%= @ticket.print_status %></td>
	</tr>
	<tr>
		<td><b>Assigned to department :</b> <%= @ticket.department.name %></td>
		<% unless @ticket.not_assigned? %>
		<td class="assign_to_cover">
  		<b> Assigned to : </b>
  		<%= @ticket.assigned.full_name %>
		</td>
		<% end %>
	</tr>

        <tr>
		<td><b>Created at :</b> <%= @ticket.created_at.strftime("%d %B %Y at %H:%M") %></td>
		
		<td>
  		<b>Updated at : </b>
  		<%= @ticket.updated_at.strftime("%d %B %Y at %H:%M") %>
		</td>
		
	</tr>
	<tr>
          <td colspan="2"><b>Description :</b> </td>
        </tr>  <tr>
          <td colspan="2">
	        <%= @ticket.description %></td>
               
	</tr>
</table>	

<h5 class="table_title">Actions</h5>
<br/>

<% #case current_user.id %>
<% if (@ticket.head_of_department).id == @user_id %>
  <%= render :partial=>'tickets/head_ticket_show' %>
<% end %>
<% if @ticket.owner_id == @user_id %>
  <%= render :partial=>'tickets/owner_ticket_show' %>
<% end %>
<% if @ticket.assigned_to == @user_id%>
  <%= render :partial=>'tickets/engg_ticket_show' %>
<% end %>


<h5 class="table_title">Comments</h5>
<br/>
<div id="commentslist">
<table border="1" class="comments_table">
 <% @comments.each do |comment| %>
   <%=render :partial => "comment", :locals => {:comment => comment}%>
 <% end %>
 </table>
</div>
<div id="comment_form"></div>
<%=link_to "Add your comment", "#", :id => "comment_link"%>

<div id="new_comment" class="hide">
  <%=render :partial => "comment_form"%>
</div>

<div class="clear">&nbsp;</div>

<div>
  <h5 class="table_title"> Log Trail:</h5>
  <br/>
<table>
  <% @audits.each do |a| %>
    <tr>
      <td><%= a.comment %></td>
    </tr>
  <%end%>
</table>
</div>
<% if @ticket.owner_id == current_user.id %>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%end%>
<%= link_to 'Back', tickets_path %>




<div id="ticket_comment_form" style="display:none">
  <%=render :partial => "ticket_comment_form"%>
</div>

