

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>

<p>
  <b>Owners:</b>
  <%= @ticket.owner.firstname %>
</p>

<p>
  <b>Assigned to Department:</b>
  <%= @ticket.department.name %>
</p>


<p>
  <b>Status:</b>
  <%= @ticket.print_status %>
</p>


<% unless @ticket.not_assigned? %>
<div class="assign_to_cover">
  <b> Assigned to : </b>
  <%= @ticket.assigned.full_name %>
</div>
<% end %>

<% #case current_user.id %>
<% if (@ticket.head_of_department).id == @user_id %>
  <%= render :partial=>'tickets/head_ticket_show' %>
<% end %>
<% if @ticket.owner_id == @user_id %>
  <%= render :partial=>'tickets/owner_ticket_show' %>
<% end %>
<% if @ticket.assigned_to == @user_id%>
  <%= render :partial=>'tickets/engg_ticket_show' %>
<% end %>


<h3>Comments</h3>
<div id="commentslist">

  <%=render :partial => "comment"%>

</div>
<div id="comment_form"></div>
<div id="new_comment">
  <h3>Add your comment</h3>

  <%=render :partial => "comment_form"%>
</div>




<p>
  Log Trail:
<table>
  <% @audits.each do |a| %>
    <tr>
      <td><%= a.comment %></td>
    </tr>
  <%end%>
</table>
</p>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>








<div id="resolve_ticket_form" style="display:none">
  <%=render :partial => "resolve_ticket"%>
</div>

<div id="reassign_ticket_form" style="display:none">
  <%=render :partial => "reassign_ticket", :locals => {:ticket=> @ticket,:assigned_to => @ticket.owner_id}%>
</div>

<div id="reassign_ticket_to_someone_form" style="display:none">
  <%=render :partial => "reassign_ticket", :locals => {:ticket => @ticket,:assigned_to => @ticket.original_assigned_to }%>
</div>

<div id="close_ticket_form" style="display:none">
  <%=render :partial => "close_ticket_form"%>
</div>

<div id="reopen_ticket_form" style="display:none">
  <%=render :partial => "reopen_ticket_form"%>
</div>

