

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>

<p>
  <b>Owners:</b>
  <%= @ticket.owner.firstname %>
</p>

<p>
  <b>Assigned to Department:</b>
  <%= @ticket.department.name %>
</p>


<p>
  <b>Status:</b>
  <%= @ticket.print_status %>
</p>
<h3>Comments</h3>
<div id="commentslist">

  <%=render :partial => "comment"%>

</div>
<div id="comment_form"></div>
<div id="new_comment">
  <h3>Add your comment</h3>

  <%=render :partial => "comment_form"%>
</div>

<% if @ticket.not_assigned? %>
<div class="assign_to_cover">
  <b>Assign to : </b>
  <%= form_tag assign_ticket_url(@ticket),:remote=>true do %>
    <%= collection_select '','user_id',@department_users,:id,:full_name %>
    <%= submit_tag "Assign" %>
  <% end %>
</div>

<% else %>
  <b> Assigned_to : </b>
  <%= @ticket.assigned.full_name %>
<% end %>

<p>
  Log Trail:
<table>
  <% @audits.each do |a| %>
    <tr>
      <td><%= a.comment %></td>
    </tr>
  <%end%>
</table>
</p>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
