<table width="40%">
	<tr>
		<td colspan=2>
			<b class="title"><%= @ticket.title %></b>
		</td>
	</tr>
	<tr>
		<td><b>Owner :</b> <%= @ticket.owner.full_name %></td>
		<td><b>Status :</b> <%= @ticket.print_status %></td>
	</tr>
	<tr>
		<td><b>Assigned to department :</b> <%= @ticket.department.name %></td>
		<% unless @ticket.not_assigned? %>
		<td class="assign_to_cover">
  		<b> Assigned to : </b>
  		<%= @ticket.assigned.full_name %>
		</td>
		<% end %>
	</tr>
	<tr>
		<td><b>Description :</b>
	        <%= @ticket.description %></td>
                <td></td>
	</tr>
</table>	
<hr/>
<% #case current_user.id %>
<% if (@ticket.head_of_department).id == @user_id %>
  <%= render :partial=>'tickets/head_ticket_show' %>
<% end %>
<% if @ticket.owner_id == @user_id %>
  <%= render :partial=>'tickets/owner_ticket_show' %>
<% end %>
<% if @ticket.assigned_to == @user_id%>
  <%= render :partial=>'tickets/engg_ticket_show' %>
<% end %>
<hr/>
<br/>
<b class="title">Comments</b>
<div id="commentslist">
  <%=render :partial => "comment"%>
</div>
<div id="comment_form"></div>
<%=link_to "Add your comment", "", :id => "comment_link"%>

<div id="new_comment" class="hide">
  <%=render :partial => "comment_form"%>
</div>

<hr/>

<p>
  <b class="title"> Log Trail:</b>
<table>
  <% @audits.each do |a| %>
    <tr>
      <td><%= a.comment %></td>
    </tr>
  <%end%>
</table>
</p>
<% if @ticket.owner_id == current_user.id %>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%end%>
<%= link_to 'Back', tickets_path %>








<div id="resolve_ticket_form" style="display:none">
  <%=render :partial => "resolve_ticket"%>
</div>

<div id="reassign_ticket_form" style="display:none">
  <%=render :partial => "reassign_ticket", :locals => {:ticket=> @ticket,:assigned_to => @ticket.owner_id}%>
</div>

<div id="reassign_ticket_to_someone_form" style="display:none">
  <%=render :partial => "reassign_ticket", :locals => {:ticket => @ticket,:assigned_to => @ticket.original_assigned_to }%>
</div>

<div id="close_ticket_form" style="display:none">
  <%=render :partial => "close_ticket_form"%>
</div>

<div id="reopen_ticket_form" style="display:none">
  <%=render :partial => "reopen_ticket_form"%>
</div>

