<table width="40%">
	<tr>
		<td colspan=2>
			<b class="title"><%= @ticket.title %></b>
		</td>
	</tr>
	<tr>
		<td><b>Owner: <%= @ticket.owner.firstname %></b></td>
		<td><b>Status:</b> <%= @ticket.print_status %></td>
	</tr>
	<tr>
		<td><b>Assigned to department:</b><%= @ticket.department.name %></td>
		<% unless @ticket.not_assigned? %>
		<td class="assign_to_cover">
  		<b> Assigned to : </b>
  		<%= @ticket.assigned.full_name %>
		</td>
		<% end %>
	</tr>
	<tr>
		<td colspan="2"><b>Description:</b> </td>
	</tr>
	<tr>
		<td><%= @ticket.description %></td>	
	</tr>
</table>	
<hr/>
<% case current_user.id %>
<% when (@ticket.head_of_department).id %>
  <%= render :partial=>'tickets/head_ticket_show' %>
<% when @ticket.owner_id %>
  <%= render :partial=>'tickets/owner_ticket_show' %>
<% when @ticket.assigned_to %>
  <%= render :partial=>'tickets/engg_ticket_show' %>
<% end %>
<hr/>
<br/>
<h4>Comments</h4>
<div id="commentslist">
  <%=render :partial => "comment"%>
</div>
<div id="comment_form"></div>
<a href="#" id="comment_link"><h5>Add your comment</h5></a>
<div id="new_comment" class="hide">
  <%=render :partial => "comment_form"%>
</div>
<hr/>
<p>
  Log Trail:
<table>
  <% @audits.each do |a| %>
    <tr>
      <td><%= a.comment %></td>
    </tr>
  <%end%>
</table>
</p>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
