<div id="flash_notice" style="display:none;"><%= notice %></div>
<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>

<p>
  <b>Owners:</b>
  <%= @ticket.owner.firstname %>
</p>

<p>
  <b>Assigned to Department:</b>
  <%= @ticket.department.name %>
</p>


<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>
<h3>Comments</h3>
<div id="commentslist">

  <%=render :partial => "comment"%>

</div>
<div id="comment_form"></div>
<div id="new_comment">
  <h3>Add your comment</h3>

  <%=render :partial => "comment_form"%>
</div>

<p>
  Log Trail:
<table>
  <% @audits.each do |a| %>
    <tr>
      <td><%= a.comment %></td>
    </tr>
  <%end%>
</table>
</p>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
