<!DOCTYPE html>
<html>
	<head>
		<title>Supremo *</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag 'jquery','rails','jquery.tablesorter.min','jquery-ui-1.8.12.custom.min','application' %>

		<%#= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag "css/blueprint/screen.css", :media=>"screen, projection" %>
		<%= stylesheet_link_tag "css/blueprint/print.css", :media=>"print" %>
		

		<%= csrf_meta_tag %>
	</head>
	<body class=<%= controller.action_name%> >

  <%- if notice %>
		<div id="notice" class="hidden all_notice">
			<%= notice %>
		</div>
		<% end %>
		<div class="j_notice hidden all_notice">
		</div>
		<%- if alert %>
		<div id="alert" class="hidden all_notice">
			<%= alert %>
		</div>
		<%- end %>
		<div class="j_alert hidden all_notice">
		</div>
		<div class="container">
			<!--container begins (remove showgrid)-->
			<%= image_tag("Supremo.png") %>
			<div class="span-24">
				<!--Banner -->				
				<div>
					<%= render :partial=>'welcome/menu'%>
				</div>
				<br/>
				<br/>
				<br/>
			</div>
			
			<div class="full_width">
				<p>
					<!--middle column (upper) -->
				</p>
				
				<%if(current_user)%>
				<div id="quick_links" class="span-5">
					&nbsp;
					
					<!--middle column (left) -->
						<%= render :partial=>"users/quick_links"%>
					
				</div>
				<%end%>
				
				<div class="main_container last">
					<!--middle column (right) -->
					<div class="clear">
					</div>
					<div class="loud">
						<%= yield %>
					</div>
				</div>
			</div>
		    <div class="span-4">
				<!--footer content goes here -->
			</div>
		</div><!--container ends-->
	</body>
</html>
